{% extends 'base.html' %}
{% block content %}
<h2>Edit Component: {{ component.part_id }}</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.type.label }} {{ form.type() }}<br>
    {{ form.part_id.label }} {{ form.part_id() }}<br>
    {{ form.name.label }} {{ form.name() }}<br>
    {{ form.manufacturer.label }} {{ form.manufacturer() }}<br>
    {{ form.year.label }} {{ form.year() }}<br>
    {{ form.specs.label }} {{ form.specs(rows=3) }}<br>
    {{ form.location.label }} {{ form.location() }}<br>
    {{ form.status.label }} {{ form.status() }}<br>
    {{ form.notes.label }} {{ form.notes(rows=3) }}<br>
    {{ form.tags.label }} {{ form.tags() }}<br>
    {{ form.system_id.label }} {{ form.system_id() }}<br>
    {{ form.submit(value="Save Changes") }}
</form>
{% endblock %}